main{
    background-size: cover;
    background-image: url("./assets/background.png");
    animation: infiniteScroll 4s linear infinite;
    height: 90vh;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
main h2{
    font-size: 48px;
    font-weight: bold;
    max-width: 900px;
    text-align: center;
}
.addCart{
    display: flex;
    justify-content: center;
    height: 50px;
    align-self: center;
    align-items: center;
}
.addCart button{
    transition: 0.4s;
    height: 54px;
    font-size: 24px;
    width:60px;
    outline: none;
    border: none;
}
.addCart button:hover{
    background-color: #e9e9e9;
}
.addCart button:first-child{
    border-radius: 10px 0px 0px 10px;
}
.addCart button:nth-child(3){
    border-radius: 0px 10px 10px 0px;
}
.addCart input{
    text-align: center;
    border: 1px solid #e9e9e9;
    outline: none;
    height: 100%;
    width: 160px;
}
.price{
    color: #0DBB97;
    font-size: 24px;
    font-weight: 600;
}
.list-products{
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    width: 100%;
    justify-items: center;
    gap: 2px;
}
.marketplace{
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    
}
.column-flex{
    display: flex;
    flex-direction: column;
}
.search-section{
    display: flex;
    gap: 20px;
    justify-content: center;
}
@media (max-width: 1700px) {
    .list-products{
        
    grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1380px) {
    .list-products{
        grid-template-columns: repeat(3, 1fr);
        }
}
@media (max-width: 1073px) {
    .list-products{
        
        grid-template-columns: repeat(2, 1fr);
        }
}
@media (max-width: 762px) {
    .list-products{

        grid-template-columns: repeat(1, 1fr);
        }
}

.search-section input{
    align-self: flex-end;
    padding: 10px;
    font-size: 24px;
}
.button-buy{
    color: white;
    background-color: #0DBB97;
    width: 80%;
    align-self: center;
    padding: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
[name="categorys"]{
    font-size: 24px;
    width: auto;
    padding: 10px 20px;
}
.container-our{
    font-size: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fafafa;
}
.dash{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 120px;
    gap: 20px;
}
@media (max-width: 600px) {
    .dash{
        padding: 120px 0px;
    }
}
.subcontainer-problems{
    max-width: 650px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    text-align: center;
}
section{
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
main span{
    max-width: 953px;
    text-align: center;
    font-size: 24px;
}
main button{
    outline: none;
    border: 3px solid #0DBB97;
    height: 60px;
    border-radius: 30px;
    font-weight: 600;
    width: 300px;
    font-size: 30px;
    color: #0DBB97;
    transition: 500ms;
    background: #0DBB9704;
}
[data-initial]{
    opacity: 0;
}
[data-initial="left-loading"].active{
    opacity: 1;
    animation: left-loading 1500ms;
}
[data-initial="down-loading"].active{
    opacity: 1;
    animation: down-loading 1500ms;
}
[data-initial="up-loading"]{
    opacity: 1;
    animation: up-loading 1500ms;
}
.container-problems{
    height: 80vh;
}

.container-problems span{
    max-width: 1119px;
    font-size: 24px;
    text-align: center;
}
.container-problems h2{
    text-align: center;
}
.button-about-us{
    border: none;
    outline: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
    width: 270px;
    margin-top: 50px;
    height: 60px;
    background-color: #E6D40E50;
}


@keyframes left-loading {
    0%{
        opacity: 0;
        transform: translateX(-400px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes infiniteScroll {
    0%{
        background-position: 0vw;
    }
    100%{
        background-position: 102vw;
    }
}

@keyframes up-loading {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}
@keyframes down-loading {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

main button:hover{
    transform: scale(1.05);
}